rag-knowledgebase-chat/workflow.json
{
  "name": "RAG using Pinecone Google Drive as Source Folder and Gemini",
  "nodes": [
    {
      "parameters": {
        "content": "",
        "height": 300,
        "width": 440,
        "color": 4
      },
      "id": "dd6261a6-966b-4317-8198-f13c1866ad12",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-64, 128],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 📚 Load Data Flow",
        "height": 460,
        "width": 1268,
        "color": 7
      },
      "id": "1e7f0448-b0ba-47d3-8d03-85c1acc51a61",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [944, 528],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "={{`Today is ${new Date()}. You are a helpful assistant. Use the query data tool (main-knowledgebase) to to answer questions about topics derived from the knowledgebase. Provide the most relevant answer to the user's query as well as the page number of the corresponding data`}}",
          "maxIterations": 4
        }
      },
      "id": "d5e6826b-278a-4ec4-8aa4-6c70dd1dcef3",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [2640, 224],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d3a0f07b-e254-4fd3-913f-cc9ab69deaba",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [2320, 352],
      "webhookId": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "### 🐕 2. Retriever Flow",
        "height": 460,
        "width": 680,
        "color": 7
      },
      "id": "93a23fd0-a548-4295-bea7-5c11fa8f2ebc",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [2368, 240],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Embeddings\n\nThe Insert and Retrieve operation use the same embedding node.\n\nThis is to ensure that they are using the **exact same embeddings and settings**.\n\nDifferent embeddings might not work at all, or have unintended consequences.\n",
        "height": 240,
        "width": 320,
        "color": 4
      },
      "id": "83fec094-2167-4444-8f58-d9ecdfaabc31",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [2672, 816],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [2288, 928],
      "id": "95535f1a-b53e-46a8-9e0f-b7d708429cd9",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "XXXXXXXXXXXXXX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [2512, 544],
      "id": "096da30f-d164-43ad-89c1-cdde027c39c5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "XXXXXXXXXXXXXX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "XXXXXXXXXXXXXXXXX",
          "mode": "list",
          "cachedResultName": "rag-eval-dataset",
          "cachedResultUrl": "/projects/XXXXXXXXXXXXXXXXX/datatables/XXXXXXXXXXXXXXXXX"
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.7,
      "position": [1728, 48],
      "id": "f013e875-cc0f-40ac-b620-aa5e7a02cec4",
      "name": "When fetching a dataset row"
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "expectedAnswer": "={{ $('When fetching a dataset row').item.json.expected }}",
        "actualAnswer": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [3632, 16],
      "id": "0198fd4e-e7c5-40ba-acf6-8699704fe2bb",
      "name": "Evaluation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32a4086f-920b-47cc-a222-2ee8e96c57ed",
              "name": "chatInput",
              "value": "={{ $json.input }}",
              "type": "string"
            },
            {
              "id": "dc31b29b-b3e2-4613-ab20-48619dcab6fb",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1936, 48],
      "id": "ee89a4ae-64ab-4565-b9e2-82a99bd3c206",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [2736, 464],
      "id": "d8609a7d-7bf0-4e09-8e0c-8a9b77956064",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [3760, 272],
      "id": "8f2a556d-9fd0-4af1-8829-8dc864aa2646",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "XXXXXXXXXXXXXX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "setInputs",
        "inputs": {
          "values": [
            {
              "inputName": "input",
              "inputValue": "={{ $('Edit Fields').item.json.chatInput }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [3200, 32],
      "id": "9efd3c01-9ef6-475a-a240-e7689fa89550",
      "name": "Evaluation1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "XXXXXXXXXXXXXXXXX",
          "mode": "list",
          "cachedResultName": "rag-eval-dataset",
          "cachedResultUrl": "/projects/XXXXXXXXXXXXXXXXX/datatables/XXXXXXXXXXXXXXXXX"
        },
        "outputs": {
          "values": [
            {
              "outputName": "expected",
              "outputValue": "={{ $('When fetching a dataset row').item.json.expected }}"
            },
            {
              "outputName": "output",
              "outputValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [3440, 16],
      "id": "60ec43c8-9117-413f-92dd-7935f40d2a25",
      "name": "Evaluation2"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
          "mode": "list",
          "cachedResultName": "n8n-knowledgebase-docs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [624, 64],
      "id": "18e791ff-ed3b-452e-af6f-8d78796cdb7b",
      "name": "File Created in Drive Repository",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XXXXXXXXXXXXXXXX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1008, 16],
      "id": "af219acc-9916-4b27-b4e1-d373149e26ef",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XXXXXXXXXXXXXXXX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## initial run\n\n* get all files in folder and run embedding flow\n* triggered once manually"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [608, -352],
      "typeVersion": 1,
      "id": "3790b182-6593-4570-a775-a73e48f83780",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [432, -160],
      "id": "335c86ee-7c2b-4f58-a16b-d047b99a887a",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
            "mode": "list",
            "cachedResultName": "n8n-knowledgebase-docs",
            "cachedResultUrl": "https://drive.google.com/drive/folders/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [624, -160],
      "id": "0f318f5a-8974-4b73-8148-9418733feb6d",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XXXXXXXXXXXXXXXX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
          "mode": "list",
          "cachedResultName": "n8n-knowledgebase-docs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [624, 304],
      "id": "4fb30900-01c6-4c82-9e05-3a927ef0e37a",
      "name": "knowledgebase file updated",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XXXXXXXXXXXXXXXX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [3008, 288],
      "id": "4bc2270e-e2b0-453a-afeb-105f5dcddd1e",
      "name": "Eval Check"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
          "mode": "list",
          "cachedResultName": "n8n_knowledgebase_processed_docs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processing_date": "={{ Date() }}",
            "file_id": "={{ $('Merge').item.json.id }}",
            "file_name": "={{ $('Merge').item.json.name }}"
          },
          "matchingColumns": ["file_name"],
          "schema": [
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processing_date",
              "displayName": "processing_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1728, 304],
      "id": "90b328ac-5ff2-4543-b3d9-0851a2e43168",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XXXXXXXXXXXXXXXX",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "XXXXXXXXXXXXXXXXXX",
          "mode": "list",
          "cachedResultName": "XXXXXXXXXXXXXXXXXX"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [1232, 544],
      "id": "251aec9d-5eb5-4909-aced-11f26979cb04",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "XXXXXXXXXXXXXXXX",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [1280, 832],
      "id": "4c60975a-3730-4486-b570-472118b4f81c",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "A knowledgebase of various articles and documents. Query this to find cited answers to the user's questions.",
        "pineconeIndex": {
          "__rl": true,
          "value": "XXXXXXXXXXXXXXXXXX",
          "mode": "list",
          "cachedResultName": "XXXXXXXXXXXXXXXXXX"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [2848, 560],
      "id": "6631211f-366f-44ab-8f09-890af12b5fd2",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "XXXXXXXXXXXXXXXX",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "content": "*Evaluation Setup*\nDataset Preparation:\nStructure your dataset in a tabular format with at least two columns: expected and input.\nThe expected column should contain the ground truth or expected correct answer.\nThe input column should contain the queries or inputs that are used to generate answers to be compared against the ground truth.\nEvaluation Node Configuration:\nThe evaluation segment uses nodes such as Evaluation, Evaluation1, Evaluation2, and Eval Check.\nThe workflow fetches a dataset row using the When fetching a dataset row node, triggering evaluation processes.\nThe evaluation nodes are configured with an automated scoring system that assesses the factual correctness of generated outputs.\nExpected outputs are compared against actual outputs using a multi-step, detailed process to assign scores from 1 to 5, with pre-defined criteria for each score.\nCriteria for Evaluation:\nThe workflow includes detailed criteria for evaluating response accuracy. These criteria focus on factual correctness and semantic similarity while allowing for variations in wording or syntax.\nThe scoring system considers both content elements and contextual understanding to ensure comprehensive output assessments.\nInstructions for Developers\nIntegration:\nEnsure the dataset is uploaded to a compatible data table and linked within the workflow for automatic processing.\nAdjust input queries and revisions to enhance the relevance and accuracy of evaluation results.\nExecution:\nUpon execution, the workflow automatically processes the dataset rows, compares actual answers against expected outputs, and computes scores based on the configured criteria.\nReview the results to verify the accuracy of automated assessments and refine the evaluation process as needed.",
        "height": 300,
        "width": 440,
        "color": 4
      },
      "id": "be7b1c2d-19a8-49d7-8882-975b27eb1c4b",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [1632, -320],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Eval Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation1": {
      "main": [
        [
          {
            "node": "Evaluation2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation2": {
      "main": [
        [
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created in Drive Repository": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "knowledgebase file updated": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eval Check": {
      "main": [
        [
          {
            "node": "Evaluation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [[]]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
  "meta": {
    "templateId": "5010",
    "templateCredsSetupCompleted": true,
    "instanceId": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
  },
  "id": "XXXXXXXXXXXXXXXX",
  "tags": []
}
